* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}


html {
    overflow-x:auto;
    overflow-y: auto;
    height: 100%;
    margin: auto;

}

.top-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

body {
	background-color:#2a3698;	
	height:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 2vw;
    text-align:center;
    padding: 1em;
    /*overflow-y: hidden*/

}
table{
    border:3px solid;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    border-radius: 5px;
    height: 40rem;
    position: relative;
    margin: auto;
    margin-bottom: 1em;
    padding: 5px;
    transition: .1s;
    z-index: 1;


}
button {
    background-color: #2a3698;
    border-style: bold;
    display:inline-block;
    height:100px;
    width: 185px;
    padding: 14px;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 5px 10px;

}

th{
    justify-content: space-evenly;

}

th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}
.score {
    color: green;
    font-size: 1em;
    margin-left: 0.2em;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family :Verdana, Arial, Helvetica, sans-serif;

}
.score-count{
    color:white;
}
/*table{
    visibility:hidden;
}

.card-modal {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;
    position: fixed;
    align-items: center;
    justify-content: center;

}


.card-modal.visible {
    opacity: 1;
    pointer-events: initial;
}

.card-modal.showing-result .result {
    display: block;
}

.modal-container form {
    display: flex;
 }

 .modal-container form button[type="submit"] {
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    font-family: inherit;
    background: var(--yellow);
    border: 0;
    font-size: inherit;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
 }




.modal-container .clue-text {
    margin-bottom: 2em;
 }*/

 .modal-container {
     border:0;
     border-radius: 5px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     padding: 10px 25px;
    position:fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;

}

.modal {
    background-color: white;
    width: 800px;
    height: 600px;
    max-width: 100%;
    padding: 50px 50px;
    border-radius: 5px;
    text-align: center;
}

.modal h2 {
    margin: 0;
}

.modal p {
    font-size: 24px;
    opacity: 0.7;
}

.modal-container form {
    display: flex;
 }

 .modal-container .clue-text {
    margin-bottom: 2em;
 }

 .modal-container form button[type="submit"] {
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    font-family: inherit;
    background: green;
    border: 0;
    font-size: inherit;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
 }

 .result,
 .modal-container.showing-result form {
    display:none;
 }


 .modal-container .visible {
    opacity: 1;
    pointer-events: auto;
}

.modal-container .showing-result .result {
    display: block;
}